@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap')
@import "./variables"

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Open Sans'
    font-size: 14px
    color: white

body
    background: black

.App
    padding: 40px 20px

.hp-letters
    display: block
    margin: 0 auto

.filters__title
    text-align: center
    font-weight: 700
    font-size: 18px
    line-height: 25px
    margin-top: 5px
    margin-bottom: 15px

.filter__container
    display: flex

.new-character-form
    display: flex
    flex-wrap: wrap
    justify-content: space-around

.radio-group
    width: 45%

.radio-group-title 
    padding: 10px 0
    text-transform: uppercase
    font-weight: 400
    font-size: 14px

.radios__container
    display: flex
    justify-content: space-between
    margin-bottom: 20px

.character-picture 
    margin: 10px 0

.material-symbols-outlined
    &.filled
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48


    
