@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap')
@import "./variables"

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Open Sans'
    font-size: 14px
    color: white

body
    background: black

.App
    display: block
    margin: 0 auto  
    padding: 40px 20px
    max-width: 1000px

.hp-letters
    display: block
    margin: 0 auto

.filters__title
    text-align: center
    font-weight: 700
    font-size: 18px
    line-height: 25px
    margin-top: 5px
    margin-bottom: 15px

.filters__container
    display: flex
    margin-bottom: 15px
    gap: 5px

.new-character-form
    display: flex
    flex-wrap: wrap
    justify-content: space-around

.radio-group
    width: 45%

.radio-group-title 
    padding: 10px 0
    text-transform: uppercase
    font-weight: 400
    font-size: 14px

.radios__container
    display: flex
    justify-content: space-between
    margin-bottom: 20px
    text-align: center

.character-picture 
    margin: 10px 0
    width: 100%

.material-symbols-outlined
    &.filled
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48

.character-cards
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    gap: 20px 0
    margin: 30px 0
    
.menu__container
    position: fixed
    left: 50%
    transform: translateX(-50%)
    bottom: 0

@media  (min-width: 768px)
    body 
        background-image: url("/hogwarts.webp")
        background-repeat: no-repeat
        background-size: contain
        background-position: top center
    .App 
        padding-top: 100px
    .menu__container
        bottom: unset
        top: 0
        transform: translateX(219px)
    

    .filters__title 
        font-size: 36px
        margin: 35px 0

    .filters__container
        justify-content: center
        gap: 50px